@model SendMessage
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}


<h3>@Model.Subject</h3>
<h4>@Model.Name</h4>
<h5>@Model.Email</h5>
<p>@Model.Message</p>

