@model TopCategory
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Name</h2>
<p>@Model.Number</p>
<a class="btn btn-dark" asp-controller="wantjobscategory" asp-action="index">Back</a>

